<div class="alert alert-primary d-flex align-items-center" role="alert"
  *ngIf="loading"
  >
  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use xlink:href="#info-fill"></use></svg>
  <div>
   Cargando...
  </div>
</div>

<div class="alert alert-danger d-flex align-items-center" role="alert"
  *ngIf="error"
  >
  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"></use></svg>
  <div>
   {{error | json}}
  </div>
</div>


<div class="col">
    <div class="card h-100" *ngFor="let user of usuarios">
        <img class="bd-placeholder-img card-img-top" style="width: 15%;"
        [src]="user.avatar">
          
      <div class="card-body">
        <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
        <p class="card-text">This is a wider card...</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">{{user.id}}</small>
      </div>
    </div>
  </div>